<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main_layout.html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Подключение стилей Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<body>
<div layout:fragment="side-bar">
    <p class="lead">
        Любите книгу, она облегчает вам жизнь,
        дружески поможет разобраться в пестрой и бурной путанице мыслей,
        чувств, событий, она научит вас уважать человека и самих себя,
        она окрыляет ум и сердце чувством любви к миру, к человечеству.
    <h3 class="text-info">Максим Горький</h3>
    </p>
</div>

<div class="container" layout:fragment="siteContent">
    <div class="row">
        <div class="col-md-4" th:each="bookDto : ${books}">
            <div class="card" style="width: 18rem;">
                <img th:src="${bookDto.book.img}" style="height: 200px;width: auto" alt="kniga">
                <div class="card-body">
                    <p class="card-title" th:text="${bookDto.book.name}"></p>
                    <p class="card-text" th:text="${bookDto.book.authorModel.fullname}"></p>
                    <p class="card-text" th:text="${bookDto.book.description}"></p>
                    <p class="card-text" th:text="${bookDto.book.publicationYear}"></p>
                    <h3 class="card-text" th:text="${bookDto.book.price + ' 💵'}"></h3>

                    <a th:href="@{'/details/' + ${bookDto.book.id}}"
                       sec:authorize="isAuthenticated()"
                       class="btn btn-primary" style="margin-left: 60px">Подробнее</a>

                    <form method="post" th:action="@{'/add-to-cart'}" style="text-align: center">
                        <input type="hidden" name="bookId" th:value="${bookDto.book.id}">
                        <button type="submit" class="btn btn-success mt-3" th:disabled="${bookDto.isInCart}">
                            Добавить в корзину
                        </button>
                    </form>
                    <p th:if="${bookDto.isInCart}" class="text-success" style="text-align: center">
                        Книга уже добавлена в корзину.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
